{
  "plugins": ["cypress"],
  "extends": ["plugin:cypress/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "jsxPragma": null, // for @typescript/eslint-parser
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "jest/expect-expect": "off"
  }
}
